@model BaiTapLonWebFilm.Models.TB_GHE
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <!-- main title -->
        <div class="col-12">
            <div class="main__title">
                <h2>Cập nhật ghế</h2>
            </div>
        </div>
        <!-- end main title -->
        <!-- form -->
        <div class="col-12">
            @using (Html.BeginForm("Edit", "Ghe"))
            {
                @Html.AntiForgeryToken()
                <div class="col-12 col-md-7 form__content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form__group">
                                <label class="text-white">Số ghế</label>
                                <input type="text" class="form__input" name="SOGHE" value="@Model.SOGHE">
                                @Html.ValidationMessageFor(model => model.SOGHE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form__group">
                                <label class="text-white">Mã loại ghế</label>

                                <input type="text" class="form__input" name="MaLoaiGhe" value="@Model.MALOAIGHE">
                                @Html.ValidationMessageFor(model => model.MALOAIGHE, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <input type="submit" class="form__btn" value="Cập nhật" />
                                </div>
                                <div class="col-12 mt-3 ml-2">
                                    @Html.ActionLink("Back to List", "Index")

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }

            <!-- end form -->
        </div>

    </div>

    <!-- end main content -->
</div>



