@model BaiTapLonWebFilm.Models.TB_PHIM


@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Client/Views/Shared/_ClientTemplate.cshtml";
    var MaPhim = ViewBag.MaPhim;
}
<style>
    .group-Input input {
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 10px;
        outline: none;
        width: 100%;
        color: black
    }

        .group-Input input::placeholder {
            color: black;
        }

    .Label_Price {
        margin: 5px 0px;
    }

    .Title_Price {
        font-weight: bold;
        color: #2f80ed;
    }

    .Btn_Book {
        background-color: blue;
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #ccc;
        color: #fff;
        border-radius: 10px;
        box-shadow: 1px 1px 2px #2f80ed;
        cursor: pointer;
    }

    .Char_Container {
        
    }

    .Title_Char {
        display: flex;
    }

    .Title_Group {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .Group_Retangle {
        width: 20px;
        height: 20px;
        background-color: gray;
        margin-right: 5px;
    }

    .Content_Char {
    }

    .LineChar {
        display: flex;
    }

    .Number {
        background: gray;
        color: #fff;
        padding: 5px 10px;
        margin: 0px 5px;
        border: 1px solid #2f80ed;
    }

        .Number:hover {
            background: blue;
            cursor: pointer;
        }

    .red {
        border-color: yellow;
        background: red;
    }

    .Content_Char tr td:first-child {
        padding-right: 10px
    }
</style>
<!-- details -->
<section class="section section--head section--head-fixed section--gradient section--details-bg">
    <div class="section__bg" data-bg="@Url.Content("~/Image/FilmBg.jpg")"></div>
    <div class="container">
        <!-- article -->
        <div class="article">
            <div class="row">
                <div class="col-lg-4 col-md-12 ImageFilmDetails">
                    <img src="@Url.Content("~/Image/movies/"+Model.HINHANH)" />
                </div>
                <div class="col-lg-8 col-md-12 col-xl-8">
                    <!-- trailer -->
                    <a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="article__trailer open-video">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11 1C16.5228 1 21 5.47716 21 11C21 16.5228 16.5228 21 11 21C5.47716 21 1 16.5228 1 11C1 5.47716 5.47716 1 11 1Z" stroke-linecap="round" stroke-linejoin="round"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M14.0501 11.4669C13.3211 12.2529 11.3371 13.5829 10.3221 14.0099C10.1601 14.0779 9.74711 14.2219 9.65811 14.2239C9.46911 14.2299 9.28711 14.1239 9.19911 13.9539C9.16511 13.8879 9.06511 13.4569 9.03311 13.2649C8.93811 12.6809 8.88911 11.7739 8.89011 10.8619C8.88911 9.90489 8.94211 8.95489 9.04811 8.37689C9.07611 8.22089 9.15811 7.86189 9.18211 7.80389C9.22711 7.69589 9.30911 7.61089 9.40811 7.55789C9.48411 7.51689 9.57111 7.49489 9.65811 7.49789C9.74711 7.49989 10.1091 7.62689 10.2331 7.67589C11.2111 8.05589 13.2801 9.43389 14.0401 10.2439C14.1081 10.3169 14.2951 10.5129 14.3261 10.5529C14.3971 10.6429 14.4321 10.7519 14.4321 10.8619C14.4321 10.9639 14.4011 11.0679 14.3371 11.1549C14.3041 11.1999 14.1131 11.3999 14.0501 11.4669Z" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        Trailer
                    </a>
                    <!-- end trailer -->
                    <!-- article content -->
                    <div class="article__content">
                        <h1>@Model.TENPHIM</h1>

                        <ul class="list">
                            <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z" /></svg> 9.7</li>
                            <li>Action</li>
                            <li>2021</li>
                            <li>@Model.THOILUONG</li>
                            <li>16+</li>
                        </ul>
                        <p>@Model.MOTAPHIM</p>
                    </div>
                    <!-- end article content -->
                </div>



            </div>

        </div>
        <!-- end article -->
    </div>
    <div class="container mt-4 text-white">
        <div class="font-weight-bold text-primary">Đặt vé ngay</div>
        <br />

    </div>
    <div class="LichChieu container text-white">
        <div class="mt-3 Title_Price">Vui lòng chọn thời gian chiếu phim</div>
        <div class="row">
            <div class="col-3 group-Input">
                <p class="Label_Price">Chọn ngày</p>
                <input type="date" id="SelectNgay" />
            </div>
            <div class="col-3 group-Input">
                <p class="Label_Price">Chọn thời gian</p>
                <div class="form-group">
                    <select class="form-control" id="SelectLichChieu">
                    </select>
                </div>
            </div>
        </div>
        <div class="mt-3 Title_Price">Vui lòng chọn số vé</div>
        <div class="row">
            <div class="col-3 group-Input">
                <p class="Label_Price">Số vé:</p>
                <div class="form-group">
                    <input type="number" min="1" placeholder="0" id="SelectSoVe" />
                </div>
            </div>
            <div class="col-3 group-Input">
                <p class="Label_Price">Chọn phòng chiếu</p>
                <div class="form-group">
                    <input class="form-control" type="text" readonly id="SelectPhongChieu" />
                </div>
            </div>
        </div>

        <div class="Char_Container mt-5" id="Char">


        </div>
        <p class="Label_Price" id="GheDaChon"></p>

        <div class="row KH">
            <div class=" col-4 form-group" style="width:200px">
                <label for="MaKhachHang">Mã khách hàng (Nếu có)</label>
                <input type="text" class="form-control" id="MaKhachHang" placeholder="Nhập mã khách hàng">
            </div>
            <div id="Info col-4">
                <div class="card">
                    <div class="card-body" style="padding:0">
                        <h5 class="card-title" id="NameKH"></h5>
                        <h6 class="card-subtitle mb-2 text-muted" id="LoaiKH"></h6>

                    </div>
                </div>
            </div>
        </div>
        <div class="BookTicket">
            <div class="KH">
                <div class="form-group" style="width:200px">
                    <label for="GiaVe">Giá vé</label>
                    <input type="text" class="form-control" id="GiaVe" placeholder="Nhập Giá vé">
                </div>
            </div>
            <div id="TongTien">

            </div>
            <div class="Btn_Book mt-4 btn" id="BtnDatVe" data-toggle="modal" data-target="#exampleModal">Đặt vé</div>
        </div>
    </div>
</section>
<!-- end details -->
<!-- Button trigger modal -->
<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin vé đặt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <h2> Thời gian chiếu</h2>
                    <p id="ThoiGianChieu"></p>
                </div>
                <div>
                    <h2>Số vé</h2>
                    <p id="SoVeDaDat">2</p>
                </div>
                <div>
                    <h2>Ghế đã đặt:</h2>
                    <ul class="list-inline" id="GheDaDat">
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="BtnConfirm">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<p class="container">
    @Html.ActionLink("Back to List", "Index")
</p>
@section scripts{
    <script>
        const url = "https://localhost:44339/api";
        let SoVe = 0;
        let GheDat = [];
        let GiaVe = 0;
        let GiamGia = 80;
        let ThanThiet = false;
        let MaLichChieu = null;
        let MaKhachHang = null;
        let MaPhong = null;
        // Thong tin ve
        let ThoiGianChieu = "";
        let TenKhachHang = "";
        let GheDaDat = "";

        //
        $("#SelectNgay").on("input", function () {
            let result = "";
            let Dateselect = new Date($(this).val());
            ThoiGianChieu += Dateselect.getDate() + "/" + (Dateselect.getMonth() + 1) + "/" + Dateselect.getFullYear();
            console.log(Dateselect);
            $.ajax({
                url: url + '/LichChieu/'+@MaPhim+'/' + Dateselect.getDate() + "/" + (Dateselect.getMonth() + 1) + "/" + Dateselect.getFullYear(),
                method: "GET",
                contentType: "json",
                dataType: "json",
                success: function (data) {
                    $.each(data, function (key, value) {
                        const d = new Date(value.NGAYCHIEU);
                        result += '<option value="' + (value.MALICHCHIEU+"-"+value.MAPHONG) + '">' + d.getHours() + ':' + d.getMinutes() + '</option>';

                    })
                    if (data.length == 0) {
                        alert("Không có");
                    }
                    $('#SelectLichChieu').html(result);

                },
                error: function (err) {
                    console.log(err);
                }
            })
        });
        $("#SelectSoVe").on("input", function () {
            SoVe = $(this).val();
        });
        $("#GiaVe").on("input", function () {
            GiaVe = $(this).val();
            let total = "";
            if (ThanThiet) {
                total = `Tổng tiền: <span id="TotalMoney">${SoVe * GiaVe * 80 / 100} (Đã giảm)</span>`;
            } else {
                total = `Tổng tiền: <span id="TotalMoney">${SoVe * GiaVe}</span>`;
            }
            $("#TongTien").html(total);
        });
        $("#SelectLichChieu").on("input", function () {
            let Ghe = {};
            let value = $(this).val().split("-");
            MaLichChieu = value[0];
            MaPhong = value[1];
            ThoiGianChieu += "  "+$('#SelectLichChieu option:selected').text();
            $.ajax({
                url: url + "/PhongChieu/" + value[1],
                method: "GET",
                contentType: "json",
                dataType: "json",
                success: function (data) {
                    if (data.length == 0) {
                        alert("Không có phòng chiếu vui lòng thử lại!");
                    }
                    $('#SelectPhongChieu').val(data.SOPHONG);

                },
                error: function (err) {
                    console.log(err);
                }
            })
            let HeaderGhe =`<div class="mt-3 Title_Price">Vui lòng chọn số ghế</div>
                            <div class="Title_Char mt-3">
                                <div class="Title_Group">
                                    <div class="Group_Retangle"></div>
                                    <div class="Group_Group_Title">Ghế trống</div>
                                </div>
                                <div class="Title_Group">
                                    <div class="Group_Retangle" style="background-color: red"></div>
                                    <div class="Group_Group_Title">Ghế đã đặt</div>
                                </div>
                            </div>
                            <table class="Content_Char">
                                <thead>
                                <th></th>
                                <th></th>
                                </thead>
                                <tbody  >
                                `
            $.ajax({
                url: url + "/GheTrongPhong/" + value[1],
                method: "GET",
                contentType: "json",
                dataType: "json",
                success: function (data) {
                    $.each(data, function (key, value) {
                        if (Ghe[value.TENLOAIGHE]) {
                            Ghe[value.TENLOAIGHE].push(value);
                        } else {
                            Ghe[value.TENLOAIGHE] = [value];
                        }
                    })
                    let GheTheoLoai = "";
                    console.log(Ghe)
                    Object.keys(Ghe).forEach((value, index) => {
                        GheTheoLoai += '<tr> <td>' + value + '</td > <td class="LineChar">';
                        Ghe[value].forEach((item, index) => {
                            if (item.TRANGTHAI !== "Ghế trống")
                                GheTheoLoai += `<p class="Number red">${item.SOGHE}</p>`;
                            else {
                                let TenGhe = item.TENLOAIGHE + item.SOGHE;
                                GheTheoLoai += `<p class="Number " onclick="DatGhe(${item.MAGHE}, '${TenGhe}')">${item.SOGHE}</p>`;

                            }
                        })
                        GheTheoLoai += `</td></tr>`;
                    })
                    $('#Char').html(HeaderGhe + GheTheoLoai +`</tbody></table>`);

                },
                error: function (err) {
                    console.log(err);
                }
            })
        });
        function DatGhe(id, TenGhe) {
            console.log(id)
            if (GheDat.length < SoVe) {
                GheDat.push({ MaGhe: id, TenGhe: TenGhe });
                GheDaDat += '<li class="list-inline-item">'+TenGhe+'</li>'
                $("#GheDaChon").html(`Ghế đã chọn: <span>${GheDat.length}</span>`);
            } else {
                alert("Bạn phải đặt thêm vé")
            }
        }
        $("#MaKhachHang").on("input", function () {
            if ($(this).val().length > 0) {
                $.ajax({
                    url: url + "/KhacHang/" + $(this).val(),
                    method: "GET",
                    contentType: "json",
                    dataType: "json",
                    success: function (data) {
                        if (data) {
                            $('#NameKH').html("Tên KH: " + data.TENKHACHHANG);
                            $('#LoaiKH').html("Hạng: " + data.MUCDOTHANTHIET);
                            if (data.MUCDOTHANTHIET !== "Đồng") {
                                ThanThiet = true;
                            } else {
                                ThanThiet = false;
                            }
                        }

                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }
            else {
                $('#NameKH').html("");
                $('#LoaiKH').html("");
                ThanThiet = false;
            }
        });
        $("#BtnDatVe").click((e) => {
            $("#ThoiGianChieu").html(ThoiGianChieu);
            $('#GheDaDat').html(GheDaDat);
            $('#SoVeDaDat').html(SoVe);
        })
        $("#BtnConfirm").click(function (e) {
            e.preventDefault();
            let date = new Date();
            let object = {
                GIAVE: $('#GiaVe').val,
                MATAIKHOAN: @Session["TK"],
                MALICHCHIEU: MaLichChieu,
                MATHEKHACHHANG: $("#MaKhachHang").val(),
            }
            //GheDat.forEach((item, index) => {
            //    $.ajax({
            //        url: url + "/Check/" + item.MaGhe + "/" + MaPhong,
            //        method: "PUT",
            //        success: function (data) {
            //        },
            //        error: function (err) {

            //        }
            //    })
            //})
            
            $.ajax({
                url: url +"/DatVe",
                headers: {
                    "Content-Type": "application/json"
                },
                method: "POST",

                data: JSON.stringify(object),
                success: function (data) {

                    alert("Thành công");
                    location.reload();
                },
                error: function (err) {

                    console.log(err);
                    alert("Thất bại");

                }
            })
        })
    </script>
    }