@model BaiTapLonWebFilm.Models.TB_PHIM


@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Client/Views/Shared/_ClientTemplate.cshtml";
}

<h2>Thông tin chi tiết bộ phim</h2>

<div>
    <br />
    <hr />
    <dl class="dl-horizontal" style="color:white">
        <dt>
            @Html.DisplayNameFor(model => model.TENPHIM) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENPHIM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QUOCGIA) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUOCGIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINHANH) :
        </dt>

        <dd>
            <img src="@Url.Content("~/Image/movies/"+Html.DisplayFor(model=>model.HINHANH))" alt="Alternate Text" style="width:50%;height:70%" />
        </dd>

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.MOTAPHIM) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTAPHIM) 
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.THOILUONG) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THOILUONG)
        </dd>


        <dt>
            LỊCH CHIẾU
        </dt>

        <dd>
            @{
                int i = 0;
                foreach (var item in @ViewBag.lstLichchieu)
                {
                    i++;
                    <p>item.NGAYCHIEU</p>
                    if (i % 4 == 0)
                    {
                        <div style="clear:both"></div>
                    }
                }
            }

        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAPHIM }) |
    @Html.ActionLink("Back to List", "Index")
</p>
