@model IEnumerable<BaiTapLonWebFilm.Models.TB_PHIM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_ClientTemplate.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QUOCGIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HINHANH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOTAPHIM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THOILUONG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TENPHIM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QUOCGIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HINHANH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOTAPHIM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THOILUONG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENPHIM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MAPHIM }) |
            @Html.ActionLink("Details", "Details", new { id=item.MAPHIM }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MAPHIM })
        </td>
    </tr>
}

</table>
