@model BaiTapLonWebFilm.Models.TB_NHANVIEN

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";

}
<!-- main content -->

<div class="container-fluid">
    <div class="row">
        <!-- main title -->
        <div class="col-12">
            <div class="main__title">
                <h2>Thêm mới 1 nhân viên</h2>
            </div>
        </div>
        <!-- end main title -->
        <!-- form -->
        <div class="col-12">
            @using (Html.BeginForm("Create", "NhanVien"))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form">
                    <div class="row">
                        <div class="col-12 col-md-5 form__cover">
                            <div class="row" >
                                <div class="col-12 col-sm-6 col-md-12">
                                    <div class="form__img" >
                                        <label for="form__img-upload" >Ảnh (190 x 270)</label>
                                        <input id="form__img-upload" name="ANH" type="file" accept=".png, .jpg, .jpeg">
                                        <img id="form__img" src="#" alt=" ">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-7 form__content">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form__group">
                                        <label class="Label text-white" >Họ và tên:</label>

                                        <input type="text" class="form__input" name="TENNHANVIEN" placeholder="Tên nhân viên">
                                        @Html.ValidationMessageFor(model => model.TENNHANVIEN, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form__group">
                                        <label class="Label text-white">Địa chỉ:</label>

                                        <textarea id="text" name="DIACHI" class="form__textarea" placeholder="Địa chỉ"></textarea>
                                        @Html.ValidationMessageFor(model => model.DIACHI, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-4 flex-row align-items-center justify-content-center">
                                    <label class="Label text-white">Giới tính:</label>

                                    <ul class="form__radio " style="height:70%">

                                        <li>
                                            <input id="type1" type="radio" name="GIOITINH" value="Nam" checked="">
                                            <label for="type1">Nam</label>
                                        </li>
                                        <li>
                                            <input id="type2" type="radio" value="Nữ" name="GIOITINH">
                                            <label for="type2">Nữ</label>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="form__group">
                                        <label class="Label text-white">CMTND:</label>

                                        <input type="text" class="form__input" name="CMTND" placeholder="CMTND">
                                        @Html.ValidationMessageFor(model => model.CMTND, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="form__group">
                                        <label class="Label text-white">Số điện thoại:</label>

                                        <input type="text" class="form__input" name="SDT" placeholder="Số điện thoại">
                                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form__group">
                                <label class="Label text-white" for="NgayVaoLam">Ngày vào làm:</label>
                                <input type="date" id="Ngày vào làm" name="NGAYVAOLAM" class="form__input">
                                @Html.ValidationMessageFor(model => model.NGAYVAOLAM, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form__group">
                                <label class="Label text-white" for="NgaySinh">Ngày sinh:</label>

                                <input type="date" id="NgaySinh" name="NGAYSINH" class="form__input">
                                @Html.ValidationMessageFor(model => model.NGAYSINH, "", new { @class = "text-danger" })

                            </div>
                        </div>




                        <div class="col-12">
                            <div class="form__group">
                                <label class="Label text-white">Quê quán:</label>

                                <textarea id="text" name="QUEQUAN" class="form__textarea" placeholder="Quê quán"></textarea>
                                @Html.ValidationMessageFor(model => model.QUEQUAN, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <input type="submit" value="Tạo mới" class="form__btn" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- end form -->
        </div>
    </div>
    <!-- end main content -->
    @Html.ActionLink("Back to List", "Index")
    </div>

