@model BaiTapLonWebFilm.Models.TB_LICHCHIEU

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";
}
<div class="col-12">
    <div class="main__title">


        <div class="main__title-wrap">
            filter sort
            <div class="filter" id="filter__sort">



                <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-sort">
                    <li>Date created</li>
                    <li>Rating</li>
                    <li>Views</li>
                </ul>
            </div>

            <form action="#" class="main__title-form">
                <input type="text" placeholder="Find movie / tv series..">
                <button type="button">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="8.25998" cy="8.25995" r="7.48191" stroke="#2F80ED" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></circle><path d="M13.4637 13.8523L16.3971 16.778" stroke="#2F80ED" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                </button>
            </form>

        </div>
    </div>
</div>
<br />
<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal" style="color:white">
        <dt>
            @Html.DisplayNameFor(model => model.NGAYCHIEU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYCHIEU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYKETTHUC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYKETTHUC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_PHIM.QUOCGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_PHIM.QUOCGIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_PHONG.LOAIPHONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_PHONG.LOAIPHONG)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" style="background-color:blue"  /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
