@model BaiTapLonWebFilm.Models.TB_LICHCHIEU

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TB_LICHCHIEU</h4>
    <hr />
    <dl class="dl-horizontal" style="color:white">
        <dt>
            @Html.DisplayNameFor(model => model.NGAYCHIEU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYCHIEU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYKETTHUC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYKETTHUC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_PHIM.QUOCGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_PHIM.QUOCGIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_PHONG.LOAIPHONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_PHONG.LOAIPHONG)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" style="background-color:blue"  /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
