@model BaiTapLonWebFilm.Models.TB_LICHCHIEU

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";
}
<style>
    .size {
        width: 700px;
    }

    .form-group, h2 {
        color: white;
    }
</style>
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MALICHCHIEU)

        <div class="form-group">
            @Html.LabelFor(model => model.NGAYCHIEU, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NGAYCHIEU, new { htmlAttributes = new { @class = "form-control size" } })
                @Html.ValidationMessageFor(model => model.NGAYCHIEU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NGAYKETTHUC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NGAYKETTHUC, new { htmlAttributes = new { @class = "form-control size" } })
                @Html.ValidationMessageFor(model => model.NGAYKETTHUC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MAPHONG, "MAPHONG", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MAPHONG", null, htmlAttributes: new { @class = "form-control size" })
                @Html.ValidationMessageFor(model => model.MAPHONG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MAPHIM, "MAPHIM", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MAPHIM", null, htmlAttributes: new { @class = "form-control size" })
                @Html.ValidationMessageFor(model => model.MAPHIM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" style="background-color:blue"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
