@model BaiTapLonWebFilm.Models.TB_THEKHACHHANG

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";
    DateTime NgaySinh = (DateTime)Model.NGAYSINH;
    DateTime NgayDangKy = (DateTime)Model.NGAYDANGKY;
}



<div class="container-fluid">
    <div class="row">
        <!-- main title -->
        <div class="col-12">
            <div class="main__title">
                <h2>Chi tiết Khách hàng</h2>
            </div>
        </div>
        <!-- end main title -->
        <!-- form -->
        <div class="col-12">
            @using (Html.BeginForm("Edit", "Khách Hàng", new {id=Model.MATHEKHACHHANG}))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form">
                    <div class="row">
                        <div class="col-12 col-md-7 form__content">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form__group">
                                        <label class="Label text-white">Họ và tên:</label>

                                        <input type="text" class="form__input" name="TENKHACHHANG" value="@Model.TENKHACHHANG">
                                    </div>
                                </div>
                                <div class="col-12 ">
                                    <div class="form__group">
                                        <label class="Label text-white">CMTND:</label>

                                        <input type="text" class="form__input" name="CMTND" value="@Model.CMTND">

                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form__group">
                                        <label class="Label text-white" for="NgayVaoLam">Ngày Đăng Kí:</label>
                                        <input type="date" id="Ngày vào làm" name="NGAYVAOLAM" class="form__input" value="@NgayDangKy.ToString("yyyy-MM-dd")">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form__group">
                                        <label class="Label text-white" for="NgaySinh">Ngày sinh:</label>

                                        <input type="date" id="NgaySinh" name="NGAYSINH" class="form__input" value="@NgaySinh.ToString("yyyy-MM-dd")">

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <input type="submit" value="Cập nhật" class="form__btn" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- end form -->
        </div>
    </div>
    <!-- end main content -->

</div>
