@model IEnumerable<BaiTapLonWebFilm.Models.TB_THEKHACHHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENKHACHHANG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMTND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYSINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYDANGKY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MUCDOTHANTHIET)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENKHACHHANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMTND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYSINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYDANGKY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MUCDOTHANTHIET)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MATHEKHACHHANG }) |
            @Html.ActionLink("Details", "Details", new { id=item.MATHEKHACHHANG }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MATHEKHACHHANG })
        </td>
    </tr>
}

</table>
