@model BaiTapLonWebFilm.Models.TB_PHIM

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";


}

<div class="container-fluid">
    <div class="row">
        <!-- form -->
        <div class="col-12">
            <div class="main__title">
                <h2>Thêm phim</h2>
            </div>
        </div>
        <!-- end main title -->
        @using(Html.BeginForm("Create", "Phim", FormMethod.Post, new { enctype = "multipart/form-data" }))

        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <!-- form -->
            <div class="col-12">
                <form action="#" class="form">
                    <div class="row">
                        <div class="col-12 col-md-5 form__cover">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-12">
                                    <div class="form__img">
                                        <label for="form__img-upload">Upload cover (190 x 270)</label>
                                        <input id="form__img-upload" name="ANH" type="file" accept=".png, .jpg, .jpeg">
                                        <img id="form__img" src="#" alt=" ">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-7 form__content">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form__group">
                                        <label class="Label text-white">Tên Phim:</label>
                                        @Html.EditorFor(model => model.TENPHIM, new { htmlAttributes = new { @type = "text", @class = "form__input", @placeholder = "Tên phim" } })


                                        @Html.ValidationMessageFor(model => model.TENPHIM, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form__group">
                                        <label class="Label text-white">MÔ TẢ:</label>
                                        @Html.EditorFor(model => model.MOTAPHIM, new { htmlAttributes = new { @type = "text", @class = "form__textarea", @placeholder = "Mô tả" } })


                                        @Html.ValidationMessageFor(model => model.MOTAPHIM, "", new { @class = "text-danger" })
                                    </div>
                                </div>



                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="form__group">
                                        @Html.EditorFor(model => model.THOILUONG, new { htmlAttributes = new { @type = "text", @class = "form__input", @placeholder = "Running Time" } })

                                        @Html.ValidationMessageFor(model => model.THOILUONG, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="form__group">
                                        <select class="js-example-basic-single" id="quality">
                                            <option value="FullHD">FullHD</option>
                                            <option value="HD">HD</option>
                                        </select>
                                    </div>
                                </div>



                                <div class="col-12 col-lg-6">

                                    <div class="form__group">
                                        @Html.EditorFor(model => model.QUOCGIA, new { htmlAttributes = new { @type = "text", @class = "form__input", @placeholder = "Country" } })

                                        @Html.ValidationMessageFor(model => model.QUOCGIA, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <div class="form__group">
                                        @Html.DropDownList("TENLOAIPHIM", null, htmlAttributes: new { @class = "js-example-basic-multiple", @id = "genre" })

                                    </div>
                                </div>

                               
                            </div>
                        </div>

                        <div class="col-12">
                            <ul class="form__radio">
                                <li>
                                    <span>Item type:</span>
                                </li>
                                <li>
                                    <input id="type1" type="radio" name="type" checked="">
                                    <label for="type1">Movie</label>
                                </li>
                                <li>
                                    <input id="type2" type="radio" name="type">
                                    <label for="type2">TV Show</label>
                                </li>
                            </ul>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                

                                <div class="col-12">
                                    <button type="submit" class="form__btn" value="Create">publish</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        }
        <!-- end form -->
    </div>
</div>
<!-- end main content -->
@*<style>
        .size {
            width: 700px;
        }

        .form-group ,h2,h4{
            color: white;
        }
    </style>
    <h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.QUOCGIA, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.QUOCGIA, new { htmlAttributes = new { @class = "form-control size" } })
                    @Html.ValidationMessageFor(model => model.QUOCGIA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HINHANH, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HINHANH, new { htmlAttributes = new { @class = "form-control size" } })
                    @Html.ValidationMessageFor(model => model.HINHANH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MOTAPHIM, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MOTAPHIM, new { htmlAttributes = new { @class = "form-control size" } })
                    @Html.ValidationMessageFor(model => model.MOTAPHIM, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.THOILUONG, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.THOILUONG, new { htmlAttributes = new { @class = "form-control size" } })
                    @Html.ValidationMessageFor(model => model.THOILUONG, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TENPHIM, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TENPHIM, new { htmlAttributes = new { @class = "form-control size" } })
                    @Html.ValidationMessageFor(model => model.TENPHIM, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" style="background-color:blue"/>
                </div>
            </div>
        </div>
    }
*@
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
