@model BaiTapLonWebFilm.Models.TB_PHIM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";
}

<style>
    .img{
        width:30%;
        height:10%
    }
    
</style>

<div class="container">
    <br />
    <br />
    <h2 style="color:white">Bạn có muốn xóa phim này không?</h2>
    <hr />
    <dl class="dl-horizontal" style="color:white">
        <dt>
            Tên Phim :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENPHIM)
        </dd>
        <dt>
            <br />
            Hình ảnh:
        </dt>

        <dd class="img">
            <img src="@Url.Content("~/Image/movies/"+Html.DisplayFor(model=>model.HINHANH))" alt="Alternate Text" style="width:100%" />
        </dd>
        <dt>
            Quốc Gia:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUOCGIA)
        </dd>
        <dt>

            Mô Tả Phim:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTAPHIM)
        </dd>

        <dt>

            Thời lượng phim :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THOILUONG)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" style="background-color:blue" /> |<br /><br />
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
