@model BaiTapLonWebFilm.Models.TB_PHIM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";
}

style>
    .img{
        width:50%;
        height:100%
    }
</style>
<h2 style="color:white">Bạn có muốn xóa phim này</h2>
<div>

    <hr />
    <dl class="dl-horizontal" style="color:white">
        <dt>
            @Html.DisplayNameFor(model => model.TENPHIM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENPHIM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QUOCGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUOCGIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINHANH)
        </dt>

        <dd class="img">
            <img src="@Url.Content("~/Image/movies/"+Html.DisplayFor(model=>model.HINHANH))" alt="Alternate Text" style="width:100%" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOTAPHIM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTAPHIM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THOILUONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THOILUONG)
        </dd>



    </dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" style="background-color:blue" /> |<br /><br />
        @Html.ActionLink("Back to List", "Index")
    </div>
}
</div>
