@model BaiTapLonWebFilm.Models.TB_PHIM

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";
}

<h2>Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal" style="color:white">
        <dt>
            @Html.DisplayNameFor(model => model.QUOCGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUOCGIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINHANH)
        </dt>

        <dd>
            <img src="@Url.Content("~/Image/movies/"+Html.DisplayFor(model=>model.HINHANH))" alt="Alternate Text" style="width:100%" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOTAPHIM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTAPHIM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THOILUONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THOILUONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENPHIM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENPHIM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAPHIM }) |
    @Html.ActionLink("Back to List", "Index")
</p>
