@model BaiTapLonWebFilm.Models.TB_PHIM

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";
}
<style>
    .img {
        width: 30%;
        height: 10%
    }
    hr{
        color:white;
    }
</style>

<div class="container">
    <br />
    <br />
    <h2 style="color:white">Thông tin chi tiết của phim</h2>
    <hr />
    <dl class="dl-horizontal" style="color:white">
        <dt>
            Tên Phim :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENPHIM)
        </dd>
        <dt>
            <br />
            Hình ảnh:
        </dt>

        <dd class="img">
            <img src="@Url.Content("~/Image/movies/"+Html.DisplayFor(model=>model.HINHANH))" alt="Alternate Text" style="width:100%" />
        </dd>
        <dt>
            Quốc Gia:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUOCGIA)
        </dd>
        <dt>
            <br />
            Mô Tả Phim:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTAPHIM)
        </dd>

        <dt>
            <br />
            Thời lượng phim :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THOILUONG)
        </dd>



    </dl>
</div>
<br />
<div class="container">
    <button class="form__btn" ">@Html.ActionLink("Sửa", "Edit", new { id = Model.MAPHIM }, htmlAttributes: new { @style = "color:black;" })</button>
    <br />
    <button class="form__btn">@Html.ActionLink("Back to List", "Index", new { id = Model.MAPHIM }, htmlAttributes: new { @style = "color:black;" })</button>


</div>
