@model BaiTapLonWebFilm.Models.TB_PHIM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";
}
div class="container-fluid">
<div class="row">
    <!-- main title -->
    <div class="col-12">
        <div class="main__title">
            <h2>Thêm mới 1 bộ phim</h2>
        </div>
    </div>
    <!-- end main title -->
    <!-- form -->
    <div class="col-12">
        <div class="main__title">
            <h2>Add new item</h2>
        </div>
    </div>
    <!-- end main title -->
    <!-- form -->
    <div class="col-12">
        <form action="#" class="form">
            <div class="row">
                <div class="col-12 col-md-5 form__cover">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-12">
                            <div class="form__img">
                                <label for="form__img-upload">Upload cover (190 x 270)</label>
                                <input id="form__img-upload" name="form__img-upload" type="file" accept=".png, .jpg, .jpeg">
                                <img src="@Url.Content("~/Image/movies/"+Html.DisplayFor(model=>model.HINHANH))" alt="Alternate Text" style="width:100%" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-7 form__content">
                    <div class="row">
                        <div class="col-12">
                            <div class="form__group">
                                <label class="Label text-white">Tên Phim:</label>

                                @Html.EditorFor(model => model.TENPHIM, new { htmlAttributes = new { @type = "text", @class = "form__input", @placeholder = @Html.DisplayFor(model => model.TENPHIM) } })

                                @Html.ValidationMessageFor(model => model.TENPHIM, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form__group">
                                <label class="Label text-white">MÔ TẢ:</label>

                                @Html.EditorFor(model => model.MOTAPHIM, new { htmlAttributes = new { @type = "text", @class = "form__textarea", @placeholder = @Html.DisplayFor(model => model.MOTAPHIM) } })

                                @Html.ValidationMessageFor(model => model.MOTAPHIM, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        

                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="form__group">
                                @Html.EditorFor(model => model.THOILUONG, new { htmlAttributes = new { @type = "text", @class = "form__input", @placeholder = @Html.DisplayFor(model => model.THOILUONG) } })
                               
                                @Html.ValidationMessageFor(model => model.THOILUONG, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="form__group">
                                <select class="js-example-basic-single" id="quality">
                                    <option value="FullHD">FullHD</option>
                                    <option value="HD">HD</option>
                                </select>
                            </div>
                        </div>

                      

                        <div class="col-12 col-lg-6">
                            <div class="form__group">
                                @Html.EditorFor(model => model.QUOCGIA, new { htmlAttributes = new { @type = "text", @class = "form__input", @placeholder = @Html.DisplayFor(model => model.QUOCGIA) } })

                                @Html.ValidationMessageFor(model => model.QUOCGIA, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="form__group">
                                <select class="js-example-basic-multiple" id="genre" multiple="multiple">
                                    <option value="Action">Action</option>
                                    <option value="Animation">Animation</option>
                                    <option value="Comedy">Comedy</option>
                                    <option value="Crime">Crime</option>
                                    <option value="Drama">Drama</option>
                                    <option value="Fantasy">Fantasy</option>
                                    <option value="Historical">Historical</option>
                                    <option value="Horror">Horror</option>
                                    <option value="Romance">Romance</option>
                                    <option value="Science-fiction">Science-fiction</option>
                                    <option value="Thriller">Thriller</option>
                                    <option value="Western">Western</option>
                                    <option value="Otheer">Otheer</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form__gallery">
                                <label id="gallery1" for="form__gallery-upload">Upload photos</label>
                                <input data-name="#gallery1" id="form__gallery-upload" name="gallery" class="form__gallery-upload" type="file" accept=".png, .jpg, .jpeg" multiple>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <ul class="form__radio">
                        <li>
                            <span>Item type:</span>
                        </li>
                        <li>
                            <input id="type1" type="radio" name="type" checked="">
                            <label for="type1">Movie</label>
                        </li>
                        <li>
                            <input id="type2" type="radio" name="type">
                            <label for="type2">TV Show</label>
                        </li>
                    </ul>
                </div>

                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form__video">
                                <label id="movie1" for="form__video-upload">Upload video</label>
                                <input data-name="#movie1" id="form__video-upload" name="movie" class="form__video-upload" type="file" accept="video/mp4,video/x-m4v,video/*">
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="form__group form__group--link">
                                <input type="text" class="form__input" placeholder="or add a link">
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="button" class="form__btn" value="Save">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- end form -->
</div>
    
<!-- end main content -->

@*<style>
        .size{
            width:700px;
        }
        .form-group ,h2,h4{
            color:white;
        }
    </style>
    <h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MAPHIM)

            <div class="form-group">
                @Html.LabelFor(model => model.QUOCGIA, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.QUOCGIA, new { htmlAttributes = new { @class = "form-control size" } })
                    @Html.ValidationMessageFor(model => model.QUOCGIA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HINHANH, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.HINHANH, new { htmlAttributes = new { @class = "form-control size" } })
                    @Html.ValidationMessageFor(model => model.HINHANH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MOTAPHIM, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.MOTAPHIM, new { htmlAttributes = new { @class = "form-control size" } })
                    @Html.ValidationMessageFor(model => model.MOTAPHIM, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.THOILUONG, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.THOILUONG, new { htmlAttributes = new { @class = "form-control size" } })
                    @Html.ValidationMessageFor(model => model.THOILUONG, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TENPHIM, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.TENPHIM, new { htmlAttributes = new { @class = "form-control size" } })
                    @Html.ValidationMessageFor(model => model.TENPHIM, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" style="background-color:blue" />
                </div>
            </div>
        </div>
    }*@

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
