@model BaiTapLonWebFilm.Models.TB_PHIM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";
}
<style>
    .size{
        width:700px;
    }
    .form-group ,h2,h4{
        color:white;
    }
</style>
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MAPHIM)

        <div class="form-group">
            @Html.LabelFor(model => model.QUOCGIA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.QUOCGIA, new { htmlAttributes = new { @class = "form-control size" } })
                @Html.ValidationMessageFor(model => model.QUOCGIA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HINHANH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.HINHANH, new { htmlAttributes = new { @class = "form-control size" } })
                @Html.ValidationMessageFor(model => model.HINHANH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOTAPHIM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.MOTAPHIM, new { htmlAttributes = new { @class = "form-control size" } })
                @Html.ValidationMessageFor(model => model.MOTAPHIM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.THOILUONG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.THOILUONG, new { htmlAttributes = new { @class = "form-control size" } })
                @Html.ValidationMessageFor(model => model.THOILUONG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TENPHIM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.TENPHIM, new { htmlAttributes = new { @class = "form-control size" } })
                @Html.ValidationMessageFor(model => model.TENPHIM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" style="background-color:blue" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
