@model IEnumerable<BaiTapLonWebFilm.Models.TB_LOAIGHE>

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";

}
<div class="container-fluid">
    <div class="row">
        <!-- main title -->
        <div class="col-12">
            <div class="main__title">
                <h2>Quản lý ghế</h2>
            </div>
        </div>
        <!-- end main title -->
        <!-- form -->
        <div class="col-12">
            @using (Html.BeginForm("Create", "Phong"))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="Char_Container">
                    <div class="Title_Char">
                        <div class="Title_Group">
                            <div class="Group_Retangle"></div>
                            <div class="Group_Group_Title">Ghế trống</div>
                        </div>
                        <div class="Title_Group">
                            <div class="Group_Retangle" style="background-color: red"></div>
                            <div class="Group_Group_Title">Ghế đã đặt</div>
                        </div>
                    </div>
                    <table class="Content_Char">
                        <thead>
                        <th></th>
                        <th></th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="main__table-text">
                                            @Html.DisplayFor(modelItem => item.SOPHONG)
                                        </div>
                                    </td>
                                    <td>
                                        <div class="main__table-text">
                                            @Html.DisplayFor(modelItem => item.LOAIPHONG)
                                        </div>
                                    </td>
                                </tr>
                            }

                            @*<tr>
                                    <td class="rows">A</td>
                                    <td class="LineChar">
                                        <p class="Number red">1</p>
                                        <p class="Number">2</p>
                                        <p class="Number">3</p>
                                        <p class="Number">4</p>
                                        <p class="Number">5</p>
                                        <p class="Number">6</p>
                                        <p class="Number">7</p>
                                        <p class="Number">8</p>
                                        <p class="Number">9</p>
                                        <p class="Number">10</p>
                                    </td>
                                </tr>*@
                            <tr>
                                <td class="rows">B</td>
                                <td class="LineChar">
                                    <p class="Number red">1</p>
                                    <p class="Number">2</p>
                                    <p class="Number">3</p>
                                    <p class="Number">4</p>
                                    <p class="Number">5</p>
                                    <p class="Number">6</p>
                                    <p class="Number">7</p>
                                    <p class="Number">8</p>
                                    <p class="Number">9</p>
                                    <p class="Number">10</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="rows">C</td>
                                <td class="LineChar">
                                    <p class="Number">1</p>
                                    <p class="Number">2</p>
                                    <p class="Number">3</p>
                                    <p class="Number">4</p>
                                    <p class="Number">5</p>
                                    <p class="Number">6</p>
                                    <p class="Number">7</p>
                                    <p class="Number">8</p>
                                    <p class="Number">9</p>
                                    <p class="Number">10</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="rows">D</td>
                                <td class="LineChar">
                                    <p class="Number">1</p>
                                    <p class="Number">2</p>
                                    <p class="Number">3</p>
                                    <p class="Number">4</p>
                                    <p class="Number">5</p>
                                    <p class="Number">6</p>
                                    <p class="Number">7</p>
                                    <p class="Number">8</p>
                                    <p class="Number">9</p>
                                    <p class="Number">10</p>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            }
        </div>
    </div>
    <!-- end main content -->
    @Html.ActionLink("Back to List", "Index")
</div>


