@model BaiTapLonWebFilm.Models.TB_PHONG


@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <!-- main title -->
        <div class="col-12">
            <div class="main__title">
                <h2>Thêm mới phòng</h2>
            </div>
        </div>
        <!-- end main title -->
        <!-- form -->
        <div class="col-12">
            @using (Html.BeginForm("Edit", "Phong", new { id = Model.MAPHONG }))
            {
                @Html.AntiForgeryToken()

                        <div class="col-12 col-md-7 form__content">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form__group">
                                        <label class="text-white">Số phòng</label>
                                        <input type="text" class="form__input" name="SOPHONG" value="@Model.SOPHONG">
                                        @Html.ValidationMessageFor(model => model.SOPHONG, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form__group">
                                        <label class="text-white">Loại phòng</label>

                                        <textarea id="text" name="LOAIPHONG" class="form__textarea">@Model.LOAIPHONG</textarea>
                                        @Html.ValidationMessageFor(model => model.LOAIPHONG, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <input type="submit" class="form__btn" value="Cập nhật" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            }
            <!-- end form -->
        </div>
    </div>

    <!-- end main content -->
    @Html.ActionLink("Back to List", "Index")
</div>