@model BaiTapLonWebFilm.Models.TB_PHONG


@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";
}
<style>
    .Char_Container {
        min-height:0;
        color:#fff;
    }

    .Title_Char {
        display: flex;
    }

    .Title_Group {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .Group_Retangle {
        width: 20px;
        height: 20px;
        background-color: gray;
        margin-right: 5px;
    }

    .Content_Char {
    }

    .LineChar {
        display: flex;
    }

    .Number {
        background: gray;
        color: #fff;
        padding: 5px 10px;
        margin: 0px 5px;
        border: 1px solid #2f80ed;
    }

        .Number:hover {
            background: blue;
            cursor: pointer;
        }

    .red {
        border-color: yellow;
        background: red;
    }

    .Content_Char tr td:first-child {
        padding-right: 10px
    }
</style>
<div class="container-fluid">
    <div class="row">
        <!-- main title -->
        <div class="col-12">
            <div class="main__title">
                <h2>Cập nhật phòng</h2>
            </div>
        </div>
        <!-- end main title -->
        <!-- form -->
        <div class="col-12">
            @using (Html.BeginForm("Edit", "Phong", new { id = Model.MAPHONG }))
            {
                @Html.AntiForgeryToken()

                <div class="col-12 col-md-7 form__content">
                    <div class="row">
                        <div class="col-12">
                            <div class="form__group">
                                <label class="text-white">Mã phòng</label>
                                <input readonly type="text" class="form__input" name="MAPHONG" value="@Model.MAPHONG">
                                @Html.ValidationMessageFor(model => model.MAPHONG, "", new { @class = "text-danger" })
                            </div>
                            <div class="form__group">
                                <label class="text-white">Số phòng</label>
                                <input type="text" class="form__input" name="SOPHONG" value="@Model.SOPHONG">
                                @Html.ValidationMessageFor(model => model.SOPHONG, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form__group">
                                <label class="text-white">Loại phòng</label>
                                <select name="LOAIPHONG" class="js-example-basic-single" id="quality">
                                    <option value="THUONG">THUONG</option>
                                    <option value="VIP">VIP</option>
                                </select>

                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <input type="submit" class="form__btn" value="Cập nhật" />
                                </div>
                                <div class="col-12">
                                    <div class="Char_Container mt-5">

                                        <div class="Title_Char mt-3">
                                            <div class="Title_Group">
                                                <div class="Group_Retangle"></div>
                                                <div class="Group_Group_Title">Ghế trống</div>
                                            </div>
                                            <div class="Title_Group">
                                                <div class="Group_Retangle" style="background-color: red"></div>
                                                <div class="Group_Group_Title">Ghế đã đặt</div>
                                            </div>
                                        </div>
                                        <table class="Content_Char">
                                            <thead>
                                            <th></th>
                                            <th></th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>A</td>
                                                    <td class="LineChar">
                                                        <p class="Number">1</p>
                                                        <p class="Number">2</p>
                                                        <p class="Number">3</p>
                                                        <p class="Number">4</p>
                                                        <p class="Number">5</p>
                                                        <p class="Number">6</p>
                                                        <p class="Number">7</p>
                                                        <p class="Number">8</p>
                                                        <p class="Number">9</p>
                                                        <p class="Number">10</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>B</td>
                                                    <td class="LineChar">
                                                        <p class="Number red">1</p>
                                                        <p class="Number">2</p>
                                                        <p class="Number">3</p>
                                                        <p class="Number">4</p>
                                                        <p class="Number">5</p>
                                                        <p class="Number">6</p>
                                                        <p class="Number">7</p>
                                                        <p class="Number">8</p>
                                                        <p class="Number">9</p>
                                                        <p class="Number">10</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>C</td>
                                                    <td class="LineChar">
                                                        <p class="Number">1</p>
                                                        <p class="Number">2</p>
                                                        <p class="Number">3</p>
                                                        <p class="Number">4</p>
                                                        <p class="Number">5</p>
                                                        <p class="Number">6</p>
                                                        <p class="Number">7</p>
                                                        <p class="Number">8</p>
                                                        <p class="Number">9</p>
                                                        <p class="Number">10</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>D</td>
                                                    <td class="LineChar">
                                                        <p class="Number">1</p>
                                                        <p class="Number">2</p>
                                                        <p class="Number">3</p>
                                                        <p class="Number">4</p>
                                                        <p class="Number">5</p>
                                                        <p class="Number">6</p>
                                                        <p class="Number">7</p>
                                                        <p class="Number">8</p>
                                                        <p class="Number">9</p>
                                                        <p class="Number">10</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>


                                <div class="col-12 mt-3 ml-2">
                                    @Html.ActionLink("Back to List", "Index")

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- end form -->

            }
            @using (Html.BeginForm("EditGhe", "Phong", new { id = Model.MAPHONG }))
            {
                @Html.AntiForgeryToken()
                <div class="col-12 mt-4 mb-2 text-primary" style="font-size:30px">
                    Chỉnh sửa thông tin ghế
                </div>
                <div class="col-3">
                    <div class="form__group">
                        <label class="text-white">Số ghế</label>
                        <select name="SOGHE" class="js-example-basic-multiple" id="genre">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form__group">
                        <label class="text-white">Loại ghế</label>
                        @Html.DropDownList("TENLOAIGHE", null, htmlAttributes: new { @class = "form__input" })
                    </div>
                </div>

                <div class="col-12">

                    <div class="col-12 px-lg-4">
                        <div class="row">
                            <div class="col-6">
                                <div class="row align-items-center">
                                    <Button class="form__btn mr-3">Thêm ghế</Button>
                                    @*<button class="form__btn">Xóa ghế</button>*@
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }

            <!-- end main content -->
        </div>
